
<!--<div class="navbar navbar-default", style="background-color: #2e2e2e; color: #d2d2d2">
  <p class="text-center">Universidad del Cauca - Facultad de Ingenier&iacutea Electr&oacutenica y Telecomunicaciones - Ingenier&iacutea de Sistemas </p>
 	<p class="text-center">
 		Creado por: Santiago Hyun, Sebastian Jimenez, Santiago Perez, Juan D&iacuteaz
 	</p>
  
</div>-->


  

<footer class="container-fluid text-center" style="background-color: #C1C2C2;">
  
  <p><a href="http://www.unicauca.edu.co">Universidad del cauca</a>-Facultad de Ingenier&iacutea Electr&oacutenica y Telecomunicaciones-Ingenier&iacutea de sistemas</p>

  <p>Creado por: Santiago Hyun, Sebastian Jimenez, Santiago Perez, Juan D&iacuteaz</p>

  <p>Puedes contactarnos a trav&eacutez de este <%= link_to "enlace", welcome_contactenos_path %></p>
  <p>Ingenier&iacutea de software 3 - S&eacuteptimo semestre</p>

</footer>