
<br>
<div class="jumbotron">
  <h1>AlCompas</h1>
  <p>Aplicaci&oacuten  web  que te permite buscar la  letra  y  los acordes de las canciones que mas te gustan,<br>
  	 aquí podras encontrar letras de canciones de artistas reconocidos, as&iacute como tambi&eacuten de artistas novatos.
  </p>	
</div>


