<p class="text-center">Bienvenido <%= @email %>!</p>

<p>Puedes confirmar tu cuenta de correo electr&oacutenico a trav&eacutes del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
